version: "3.9"

services:
  #################################################
  # MongoDB for Auth Service
  #################################################
  mongo-auth:
    image: mongo
    container_name: mongo-auth
    ports:
      - "27017:27017"
    volumes:
      - mongo-auth-data:/data/db

  #################################################
  # Auth Service
  #################################################
  auth-service:
    build: ./auth-service
    container_name: auth-service
    restart: always
    ports:
      - "8080:8080"
    environment:
      - MONGO_URI=mongodb://mongo-auth:27017
      - MONGO_DB=authdb
      - JWT_SECRET=${JWT_SECRET}
      - REFRESH_SECRET=${REFRESH_SECRET}
    depends_on:
      - mongo-auth

 #################################################
  # API Gateway
  #################################################
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    restart: always
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
      - AUTH_SERVICE_URL=http://auth-service:8080
    depends_on:
      - auth-service

volumes:
  mongo-auth-data:
